@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Roboto+Slab:700&subset=latin,latin-ext);

body {
    background-image: url('../images/grid.png');
    background-color: #eee;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
h1 {
   text-align: center;
}
h2 {
    border-bottom: thin solid #eee;
}

p, table tr td, ul li {
    line-height: 1.5;
}

ul {
    padding-left: 1.5em;
}

a {
    color: #025D8C;
    padding: 0 1px;
}

a:active {
    color: #2A8FBD;
}

a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #025D8C;
    transition: all .2s ease-in-out;
}

blockquote {
    font-style: italic;
}

.page {
    padding: 2em;
}

.container {
    width: 990px;
    margin: 0 auto;
    overflow: auto;
}

.content {
    background-color: #fff;
    float: left;
    width: 660px;
    min-height: 640px;
}

.item {
    padding: 0 1.5em;
}

/*sidebar css*/

.sidebar {
    float: right;
    width: 330px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar .inner, .content .inner {
    padding: 2em;
}

.main-menu {
    font-weight: 700;
}

.logo a {
    padding: 0;
    background: transparent;
}
.logo {
    padding-bottom: 2em;
}

/* index */

p.counters {
    font-size: 1.2em;
    padding: 2em 0;
    text-align: center;
    background-color: #eee;
}

.index td.about-icon {
    text-align: center;
    padding: 1em 1.5em 1em .5em;
}

/*speakers*/

.speakers blockquote {
    font-style: italic;
}
.speakers img {
    float: left;
    border: thick solid #eee;
    margin-right: 1em;
}

/*page similar meetups*/

.similar-meetups img {
    float: left;
    width: 48px;
    margin: 1em 1.5em 1.5em 0;
}
.similar-meetups table tr td {
    vertical-align: top;
}
.similar-meetups table tr td h3, .similar-meetups table tr td p {
    margin: .5em 0;
}

/*event page*/

.event .meta {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2em 0;
}

.event.share {
    clear: both;
    text-align: center;
    margin: 5em 0 3em;
}

.event.navigation {
    margin: 3em 0;
    text-align: center;
    overflow: auto;
}

.event.navigation .previous {
    display: block;
    float: left;
}
.event.navigation .next {
    display: block;
    float: right;
}

.event.share a.twitter, .event.share a.facebook, .event.share a.google-plus {
    text-decoration: none;
    color: #fff;
    font-size: .9em;
    padding: .1em .5em;
}
.event.share a.twitter {
    background-color: #55acee;
}
.event.share a.facebook {
    background-color: #3b5998;
}
.event.share a.google-plus {
    background-color: #dd4b39;
}

/*ad*/
.ad {
    width: 660px;
    text-align: center;
    margin: 0 0 1em;
}
.ad a {
    background: transparent;
}

/*footer*/

.footer {
    padding: 1em 2em;
    clear: both;
}

.footer p {
    font-size: .85em;
}



/*component*/
span.label {
    font-size: .8em;
    text-transform: uppercase;
    /*font-weight: 700;*/
    padding: 0 .4em;
}
span.label.gray {
    background-color: #eee;
}
span.label.red {
    background-color: #cc181e;
    color: #fff;
}


.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.speakerdeck {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

.gsc-control-cse a {
    background: transparent;
}

/* font awesome */

.fa {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
    font-size: 2em;
}