<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}" title="WebElement">
        <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Logo"></a>
    </div>

    {% include menu.html class="navbar-nav" %}
  </div>
</nav>

{{ content }}

<div class="section search">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div class="part search">
          {% include search.html %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="menu">
          {% include menu.html %}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="social">
          {% include social.html %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="copy">
          {% include footer.html %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include typekit.html %}
</body>
</html>
