version: "2"

services:

  php:
    image: quay.io/webelement/php:latest
    tty: true
    stdin_open: true
    volumes:
      - ./:/code
    working_dir: /code
    command: >
             sh -c '
             composer install
             && ./speakers.php
             '

  node:
    image: quay.io/webelement/node:latest
    tty: true
    stdin_open: true
    volumes:
      - ./:/code
    working_dir: /code
    command: >
             sh -c '
             bower install --allow-root
             && npm set progress=false
             && npm install -q
             && gulp create-speakers-sprite
             '

  jekyll:
    image: quay.io/webelement/jekyll:latest
    tty: true
    stdin_open: true
    volumes:
      - ./:/code
    working_dir: /code
    ports:
      - "4000:4000"
    command: sh -c 'JEKYLL_ENV=production jekyll build -s ./app'

  app:
    build: .
    image: webelement/web
