<ul>
    <li><i class="fa icon-twitter"></i>{{ site.anchors.twitter }}</li>
    <li><i class="fa icon-facebook-squared"></i>{{ site.anchors.facebook }}</li>
    <li><i class="fa icon-calendar"></i>{{ site.anchors.meetup }}</li>
    <li><i class="fa icon-github-circled"></i>{{ site.anchors.github }}</li>
    <li><i class="fa icon-youtube"></i>{{ site.anchors.youtube }}</li>
    <li><i class="fa icon-flickr"></i>{{ site.anchors.flickr }}</li>
    <li><i class="fa icon-chat"></i>{{ site.anchors.gitter }}</li>
</ul>