<ul class="{{ include.class }}">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Úvod</a></li>
    <li><a href="{{ '/event' | prepend: site.baseurl }}">Prednášky</a></li>
    <li><a href="{{ '/recnici' | prepend: site.baseurl }}">Rečníci</a></li>
    <li><a href="{{ '/pod-prednasat' | prepend: site.baseurl  }}">Poď&nbsp;prednášať!</a></li>
{% if site.data.jobs %}
    <li><a href="{{ '/praca' | prepend: site.baseurl }}">Práca&nbsp;({{ site.data.jobs | size }})</a></li>
{% endif %}
    <li><a href="{{ '/podobne-stretnutia' | prepend: site.baseurl }}">Podobné&nbsp;stretnutia</a></li>
    <li><a href="{{ '/feed/rss' | prepend: site.baseurl }}">RSS</a></li>
</ul>
