<!DOCTYPE html>
<html>
{% include head.html %}
<body>

{% include ad.html %}

<div class="container container-page">
  <div class="row">
    <div class="col-sm-12">
      <div class="part header">
        {% include header.html %}
      </div>
      <div class="part menu">
      {% include menu.html %}
      </div>
      <div class="part content">
        {{ content }}
      </div>
    </div>
  </div>
</div>
<div class="container container-footer">
  <div class="row">
    <div class="col-sm-12">
      <div class="part menu">
        {% include menu.html %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="part search">
        {% include search.html %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="part social">
        {% include social.html %}
      </div>
      <div class="part footer">
        {% include footer.html %}
      </div>
    </div>
  </div>
</div>
{% include analytics.html %}
</body>
</html>