---
layout: default
---
<div class="inner">

  <div class="item event">

    <h1>{{ page.title }}</h1>

    <p class="meta">
      <i class="fa icon-megaphone"></i> {{ page.date | date: "%d.%m.%Y" }}
      {% if page.city %} • {{ page.city }}{% endif %}
      {% if page.facebookId %} • <a href="https://facebook.com/events/{{ page.facebookId }}" title="Facebook event">Facebook</a>{% endif %}
      {% if page.meetupId %} • <a href="http://meetup.com/webelement/events/{{ page.meetupId }}" title="Meetup event">Meetup</a>{% endif %}
    </p>

    {{ content }}

  </div>

  <div class="item event share">
    {% assign escapedUrl = page.url | prepend: site.baseurl | prepend: site.url | url_escape %}
    {% assign escapedTitle = page.title | url_escape | replace: "#", "%23" %}
    Zdieľať na:
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{ escapedTitle }}&url={{ escapedUrl }}&via=webelement" title="Zdieľaj na Twitter"><i class="fa icon-twitter"></i> Twitter</a>
    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ escapedUrl }}" title="Zdieľaj na Facebook"><i class="fa icon-facebook-squared"></i> Facebook</a>
    <a class="google-plus" href="https://plus.google.com/share?url={{ escapedUrl }}"  title="Zdieľaj na Google+"><i class="fa icon-gplus"></i> Google+</a>
  </div>

  <div class="item event navigation">
    {% if page.previous.url and page.previous.noContent != true %}
    <span class="previous">
      <i class="fa icon-left-circled"></i>
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title | truncatewords: 2 }}</a>
    </span>
    {% endif %}

    {% if page.next.url and page.next.noContent != true %}
    <span class="next">
      <a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title | truncatewords: 2 }}</a>
      <i class="fa icon-right-circled"></i>
    </span>
    {% endif %}
  </div>


  <div class="disqus">

    <h2>Diskusia</h2>

    {% include disqus.html %}

  </div>

</div>